version: '3.8'
services:
  cassandra:
    image: cassandra:latest
    container_name: cassandra
    environment:
      MAX_HEAP_SIZE: "256M"
      HEAP_NEWSIZE: "128M"
      CASSANDRA_CLUSTER_NAME: "MySrpringReactiveCluster"
      CASSANDRA_SEEDS: "cassandra"
    volumes:
      - cassandra_data:/var/lib/cassandra
    ports:
      - "7000:7000"   # intra-node communication
      - "7001:7001"   # SSL intra-node
      - "7199:7199"   # JMX
      - "9042:9042"   # CQL
    healthcheck:
      test: ["CMD-SHELL", "cqlsh -e 'DESCRIBE KEYSPACES'"]
      interval: 20s
      timeout: 10s
      retries: 10

  cassandra-load-keyspace:
    container_name: cassandra-load-keyspace
    image: cassandra:latest
    depends_on:
      cassandra:
        condition: service_healthy
    volumes:
      - ./ddl-schema.cql:/schema.cql
    entrypoint: ["/bin/bash", "-c", "echo 'Loading schema...' && cqlsh cassandra -f /schema.cql"]

volumes:
  cassandra_data: